@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
body.gdansk-novice-2023{
	font-family: 'Hind', sans-serif !important;
	background-color: #fff7ff !important;
}
.gdansk-novice-2023 h1, .gdansk-novice-2023 h2, .gdansk-novice-2023 h3, .gdansk-novice-2023 h4, .gdansk-novice-2023 h5, .gdansk-novice-2023 h6, .gdansk-novice-2023 .h1, .gdansk-novice-2023 .h2, .gdansk-novice-2023 .h3, .gdansk-novice-2023 .h4, .gdansk-novice-2023 .h5, .gdansk-novice-2023 .h6 {
	font-family: 'Hind', sans-serif !important;
	color: #431b6e !important;
}
.gdansk-novice-2023 .navbar-light, .gdansk-novice-2023 .card-header{
	background: rgb(121,95,173) !important;
	background: linear-gradient(148deg, rgba(182, 146, 255, 0.51) 14%, rgba(205, 109, 209, 0.58) 92%) !important;
}
.gdansk-novice-2023 .text-muted {
	color: #8d5b9c !important;
}
.gdansk-novice-2023 .bg-secondary {
	background-color: #bac8ff !important;
}
.gdansk-novice-2023 #tournamentdrop svg{
	filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.48));
}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
body.pldgdansk23{
	font-family: 'Hind', sans-serif !important;
	background-color: #cdd8ff !important;
}
.pldgdansk23 h1, .pldgdansk23 h2, .pldgdansk23 h3, .pldgdansk23 h4, .pldgdansk23 h5, .pldgdansk23 h6, .pldgdansk23 .h1, .pldgdansk23 .h2, .pldgdansk23 .h3, .pldgdansk23 .h4, .pldgdansk23 .h5, .pldgdansk23 .h6 {
	font-family: 'Hind', sans-serif !important;
	color: #0509cf  !important;
}
.pldgdansk23 .navbar-light, .pldgdansk23 .card-header{
	background: rgb(100, 56, 255) !important;
	background: linear-gradient(148deg, rgba(100, 56, 255, 0.51) 14%, rgba(0, 64, 255, 0.58) 92%) !important; !important;
}
.pldgdansk23 .text-muted {
	color: #352b7f !important;
}
.pldgdansk23 .bg-secondary {
	background-color: #bac8ff !important;
}
.pldgdansk23 #tournamentdrop svg{
	filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.48));
}
.pldgdansk23 .btn-primary {
	color: #fff;
	background-color: #0509cf;
	border-color: #0509cf;
}
body.gdansk-novice-2024{
	background-color: #F9D87D !important;
}
.gdansk-novice-2024 h1, .gdansk-novice-2024 h2, .gdansk-novice-2024 h3, .gdansk-novice-2024 h4, .gdansk-novice-2024 h5,  .gdansk-novice-2024 .h1, .gdansk-novice-2024 .h2, .gdansk-novice-2024 .h3, .gdansk-novice-2024 .h4, .gdansk-novice-2024 .h5, {
	color: #500000 !important;
}
.gdansk-novice-2024 .h6, .gdansk-novice-2024 h6 {
	color: #fff !important;
}
.gdansk-novice-2024 .navbar-light, .gdansk-novice-2024 .card-header{
	background: repeating-linear-gradient( 4deg, #E2464F, #BC121C ) !important;
}
.gdansk-novice-2024 .navbar-light a {
	color: #fff !important;
}
.gdansk-novice-2024 .navbar-light .navbar-brand {
	color: rgba(246, 246, 246, 0.9);
}
.gdansk-novice-2024 .text-muted {
	color: #fff !important;
}
.gdansk-novice-2024 .text-primary {
	color: #63060b !important;
}
.gdansk-novice-2024 .bg-secondary {
	background-color: #ffeaba !important;
}
.gdansk-novice-2024 .btn-primary {
	color: #fff;
	background-color: #fff;
	border-color: #c9232d;
}
.gdansk-novice-2024 a, .gdansk-novice-2024 .dropdown-item a{
	color: #96383e !important;
}
.gdansk-novice-2024 .list-group-item-secondary {
	color: #464a4e !important;
	background-color: #fff !important;
}
.gdansk-novice-2024 #tournamentdrop svg{
	filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.48));
}